<div class="titlebar">
  <div class="drag-area">
    📝 Tauri Notes
  </div>

  <div class="window-controls">
    <button (click)="minimize()">—</button>
    <button (click)="maximize()">⬜</button>
    <button (click)="close()">✕</button>
  </div>
</div>
<main class="container">
  <div style="padding: 20px">
    <h2>Tauri Notes App</h2>

    <input [(ngModel)]="newNote" placeholder="Write note..." />

    <button (click)="addNote()">Add</button>

    <hr />

    <div *ngFor="let note of notes">
      <p>{{ note.content }}</p>
      <button (click)="deleteNote(note.id)">Delete</button>
      <hr />
    </div>
  </div>
</main>