/* Component specific styles start here */

/* Content Container */
.container {
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 54px);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 24px;
}

input,
textarea {
  flex-grow: 1;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 16px;
  color: var(--text-color);
  font-size: 14px;
  font-family: inherit;
  outline: none;
  transition: border-color 0.2s;
  resize: none;
  /* Hide resize grabber */
}

button.primary {
  color: var(--text-color);
  background: transparent;
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.2s;
}

button.primary:hover {
  opacity: 0.9;
}